body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background: blue;
  color: white;
  padding: 20px;
  text-align: center;
}
/* Header & Navbar */
.top-header {
  background: orange;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.logo span {
  color: #222;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}
